@import '../../constants/styleConstnats.scss';

.algopage{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(12vw,12vw));
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    min-height: calc(100vh - 200px);
    
    .card {
		width: 12vw;
		height: 12vh;
		border-radius: 5px;
		border: 2px solid $primary-color;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		text-decoration: none;
		background-color: rgba(255, 255, 255, 0.2);
		backdrop-filter: blur(3px);
		transition: background-color,
			transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
		font-size: 20px;
		color: $primary-color;
		&:hover {
			transform: scale(1.02);
			color: $secondary-color;
			background-color: $primary-color;
		}
	}
}