@import '../../constants/styleConstnats.scss';

.algo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 200px);
	gap: 20px;
	.card {
		width: 30vw;
		height: 30vh;
		font-size: 30px;
		&:hover {
			transform: scale(1.05);
			color: $secondary-color;
			background-color: $primary-color;
		}
	}
}
