@import '../../constants/styleConstnats.scss';

.content-container {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: $ubuntu;
  height: calc(100vh - 200px);
	.intro {
		flex-direction: column;
		.title {
			font-weight: 700;
			font-size: 40px;
			color: $primary-color;
		}
		.subtitle {
			margin-top: 10px;
			font-size: 20px;
			width: 100%;
			padding: 10px;
			background-color: $primary-color;
			color: $secondary-color;
		}
		.button {
			margin: 10px;
			padding: 10px;
			background-color: $secondary-color;
			color: $primary-color;
			border: none;
			font-family: $ubuntu;
			font-weight: 500;
			cursor: pointer;
			border: 2px solid $primary-color;
			border-radius: 5px;
			transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			&:hover {
				background-color: $primary-color;
				color: $secondary-color;
			}
		}
	}
}

::-webkit-scrollbar {
	display: none;
}
